# OS
.DS_Store

# Logs
*.log

# Env
.env
.env.local
.env.*.local

# Node
node_modules/
.next/
out/

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Misc
coverage/
dist/
build/
